#head{
  margin:auto;
}

#createbtn{
  border-radius: 80px;
}

#fileContent{
    background-color: #333333;
    color: white;
    width:  65%;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 0 0 1px #000;
    border: 5px solid transparent;
    font-size: 16px;
    outline:none;
    resize: none;

}

::-webkit-scrollbar {
width: 8px;

}
::-webkit-scrollbar-track {
background:#f2e0b0;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background-color: #a5423a;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #68281c;
}
#arrowbtn{
  color: #333333;
  background-color: grey;
}
