<div class="container"><br>
  <div class="row">
  
        <button type="button" value=".float-right" id="downloadbtn" (click)="downloadFile()"><i class="fas fa-cloud-download-alt fa-2x"></i></button>
        <button type="button" value=".float-right" id="editbtn" (click)="editMode()"><i class="fas fa-edit fa-2x"></i></button>
        <button type="button" value=".float-right" id="editbtn" (click)="savefile()" [hidden]="_save">&nbsp;<i class="fas fa-save fa-2x"></i>&nbsp;</button>
        <h1 id="head" >{{filename}}</h1>  
        <button type="button" value=".float-right" id="consultbtn" (click)="consultfile()" [hidden]="_consulted || false">&nbsp;<i class="fab fa-cuttlefish"> &nbsp; </i></button>
        <button type="button" value=".float-right" id="deletebtn" (click)="open(deleteModal)">&nbsp;<i class="far fa-trash-alt"> &nbsp; </i></button>       
  </div>
  <hr>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <button type="button" id="arrowbtn"  class="btn float-left" value=".float-left" (click)="back()"><i class="fas fa-arrow-left fa-2x"></i></button>
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3">

    </div>
  </div>
   <br>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <ace-editor #editor class="content-area"></ace-editor>       
           <br><br>
        </div>
</div>


<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-body">
      <delfile [filename]='filename' [project]='project' (closeModal)="closes()"></delfile>&nbsp;&nbsp;
      <button type="button" class="btn btn-danger" (click)="closes()">No</button>
  </div>
</ng-template>
