<div class="footer col-md-12 col-lg-12 col-sm-12"><br>
  


    <div class="row" id="headers">
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <h3><i class="fas fa-globe">  COMMUNITY</i></h3>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <h3><i class="fas fa-file-alt">  DOCUMENTATION</i></h3>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <h3><i class="fas fa-envelope">  CONTACT</i></h3>
      </div>
    </div>
<hr>
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <a href="http://gorgiasb.tuc.gr"> Gorgias-B tool</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <a href="/assets/gorgias_jar/gorgias_doc.html" target="_blank"> API documentation</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <p>gorgiasamcl@gmail.com</p>
        </div>
      </div>

      <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <a href="http://www.learnprolognow.org">Learn Prolog</a>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <a download="gorgias.jar" href="/assets/gorgias_jar/Jpl_inSpring-0.0.1-SNAPSHOT.jar" [hidden]="!getLoginFlag()"><i class="far fa-arrow-alt-circle-down"> Gorgias API for Java</i></a>
          </div>
          
          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            
          </div>
      </div>

<br>


</div>