@font-face {
    font-family: titleFont;
    src: url(/assets/fonts/Lost Sunset Personal Use.ttf);
}

#header{
  font-family:'titleFont';
  font-size: 50px;
  color: white;
}

.navbar{
  background-color: #262626;
}
.nav-item{
  color: white;
}

#cloud{
  animation: cloud_anime 4s 3s 3 alternate backwards;
}

@keyframes cloud_anime{
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}


#togglebtn:focus{
  outline: none;
  box-shadow: none!important;
}