<nav class="navbar navbar-expand-sm ">

<!-- Links -->
<a class="navbar-brand" routerLink="/#"><h2 id="header">Gorgias cloud <i class="fas fa-cloud" id="cloud"></i></h2></a>

<button class="navbar-toggler ml-auto custom-toggler"
        type="button"
        id="togglebtn"
        data-toggle="collapse"
        [hidden]="!getLoginFlag()"
        (click)="isCollapsed= !isCollapsed">

   <span><i class="far fa-caret-square-down fa-2x" [ngStyle]="{ 'color': 'white' }"></i></span>

 </button>


 <div class="collapse navbar-collapse"[ngbCollapse]="isCollapsed"id="navbarSupportedContent">




<!-- right navbar -->
<ul class="navbar-nav ml-auto">

<!-- admin -->
<li class="nav-item dropdown" [hidden]="!getAdminFlag()">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">admin <i class="fas fa-user-tie"></i></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/admin/approval">waiting users</a>
        <a class="dropdown-item" routerLink="/admin/appusers">users</a>
        <a class="dropdown-item" routerLink="/admin/infodb">database info </a>
      </div>
  </li>

<!-- editor -->
        <li class="nav-item" [hidden]="!getLoginFlag()">
          <a class="nav-link" routerLink="/panel">editor <i class="far fa-edit"></i></a>
        </li>


<!-- projects  -->
    <li class="nav-item" [hidden]="!getLoginFlag()">
      <a class="nav-link" routerLink="/projects">my directory <i class="far fa-folder-open"></i></a>
    </li>


<!-- logout-->
     <li class="nav-item" [hidden]="!getLoginFlag()">
          <a class="nav-link" routerLink="/logout">logout <i class="fas fa-sign-out-alt"></i></a>
        </li>



</ul>

</div>

</nav>


