<br><br>
<div class="container">
    <div class="row">
      <p id="welcomemsg">Gorgias is a argumentation tool written in prolog. This app allows you to upload,store and load your gorgias and prolog files into prolog knowledge base and ask queries to her. When you sign up, you need to wait for admin approval.  Login or register in order to use the Gorgias Cloud platform. Let's start!!</p>
    </div>
    <br><br>
    <div class="row">
      <span id="auth"><authentication></authentication></span>
    </div>
</div>
