<br><br>
<div class="vr"></div>

<div class="container">
    
   <!-- <br><br><br><br><p id="welcomemsg"> <span style="color:#ffb3b3">Gorgias</span> is a argumentation tool written in <span style="color:blue">prolog</span>.<br>Through this app you can <span style="color:blue">upload</span>,<span style="color:blue">store</span> and <span style="color:blue">load</span> your gorgias files into prolog knowledge base and run queries. <br> When you sign up, you need to wait for admin approval. <br> Login or register in order to use the Gorgias Cloud platform. <br> Let's start!!</p>

    <br><br>-->
    <span id="auth"><authentication></authentication></span>
    
</div>
<hr class="hr1">
<hr class="hr2">

