<div class="container"><br>

    <div class="row">
         <h2 id="head">{{ project }}</h2>
         <button type="button" value=".float-right" id="addbtn" (click)="open(addtemplate)">&nbsp;<i class="fas fa-plus"> &nbsp; </i></button>
         <button type="button" value=".float-right" id="deletebtn" (click)="open(deleteModal)">&nbsp;<i class="far fa-trash-alt"> &nbsp; </i></button>

    </div>
    <hr>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <button type="button" id="arrowbtn"  class="btn float-left" value=".float-left" (click)="back()"><i class="fas fa-arrow-left fa-2x"></i></button>
      </div>

     <br>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-6 col-md-2 col-lg-2" *ngFor="let filename of files" >
           <button type="button" class="btn btn-outline-dark" [routerLink]="['/content', filename, project]"><i class="fas fa-file fa-5x"></i></button><br>
            {{filename}}
           <br><br>
        </div>
    </div>

</div>

<ng-template #addtemplate let-c="close" let-d="dismiss">
  <div class="modal-body">
    <addfile [projectname]='project' (closeModal)="closes()"></addfile>
  </div>
</ng-template>

<ng-template #deleteModal id="deletemodal" let-c="close" let-d="dismiss">
  <div class="modal-body">
      <delproj [projectname]='project' (closeModal)="closes()"></delproj>&nbsp;&nbsp;
      <button type="button" class="btn btn-danger" (click)="closes()">No</button>
  </div>
</ng-template>
